<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Discipline Ratings</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#example').DataTable({
                "paging": false,
                "searching": false,
                "info": false
            });
        });
        $(document).ready(function () {
            $('#studentDisc').DataTable({
                "paging": false,
                "searching": false,
                "info": false
            });
        });

        $(document).ready(function () {
            $('#coeff').DataTable({
                "paging": false,
                "searching": false,
                "info": false
            });
        });
    </script>
</head>
<body>

<h1>Students with common disciplines (>0.7)</h1>
<table id="student" class="table table-striped" style="width:100%">
    <thead class="table-dark">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>N</th>
        <th th:each="discipline: ${disciplines}"
            th:text="${discipline.id + ' ' + discipline.name}"></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${student.id}"></td>
        <td th:text="${student.name}"></td>
        <td th:text="${student.disciplines.size()}"></td>
        <td th:each="discipline: ${disciplines}"
            th:text="${student.disciplines.contains(discipline) ? '✔' : '✖'}"
            th:classappend="${student.disciplines.contains(discipline) ? 'text-success' : 'text-danger'}">
        </td>
    </tr>
    </tbody>
</table>
<table id="studentDisc" class="table table-striped" style="width:100%">
    <thead class="table-dark">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>N</th>
        <th th:each="discipline: ${disciplines}"
            th:text="${discipline.id + ' ' + discipline.name}"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="otherStudent: ${studentsWithCommon}">
        <td th:text="${otherStudent.id}"></td>
        <td th:text="${otherStudent.name}"></td>
        <td th:text="${otherStudent.disciplines.size()}"></td>
        <td th:each="discipline: ${disciplines}"
            th:text="${otherStudent.disciplines.contains(discipline) ? '✔' : '✖'}"
            th:classappend="${otherStudent.disciplines.contains(discipline) ? 'text-success' : 'text-danger'}">
        </td>
    </tr>
    </tbody>
</table>

<br/>
<br/>

<h1>Students Characteristics Pearson Coeff</h1>
<table id="coeffTarget" class="table table-striped" style="width:100%">
    <thead class="table-dark">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th th:each="char: ${characteristics}"
            th:text="${char.id + ' ' + char.name}"></th>
        <th>P Coeff</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${student.id}"></td>
        <td th:text="${student.name}"></td>
        <td th:each="charRate: ${studentChars}"
            th:text="${charRate}"></td>
        <td th:text="1.0"></td>
        </td>
    </tr>
    </tbody>
</table>
<table id="coeff" class="table table-striped" style="width:100%">
    <thead class="table-dark">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th th:each="char: ${characteristics}"
            th:text="${char.id + ' ' + char.name}"></th>
        <th>P Coeff</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="student: ${commonStudentChars.keySet()}">
        <td th:text="${student.id}"></td>
        <td th:text="${student.name}"></td>
        <td th:each="charRate: ${commonStudentChars.get(student)}"
            th:text="${charRate}"></td>
        <td th:text="${stPearson.get(student)}"></td>
        </td>
    </tr>
    </tbody>
</table>

<br/>
<br/>

<h1>Discipline Ratings</h1>
<table id="example" class="table table-striped" style="width:100%">
    <thead class="table-dark">
    <tr>
        <th>Id</th>
        <th>Discipline</th>
        <th>Average Rating</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="entry : ${disciplineRatings}">
        <td th:text="${entry.key.id}"></td>
        <td th:text="${entry.key.name}"></td>
        <td th:text="${entry.value}"></td>
    </tr>
    </tbody>
</table>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>

</body>
</html>
